<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
      .left {
          margin-top: 20px;
        float: left;
        width: 500px;
        height: 300px;
      }
      .right {
          margin-top: 20px;
        margin-left: 510px;
        width: 500px;
        height: 300px;
      }
    </style>
</head>
<body>
    <form method="post" action="/submit" method = "post">
        <div>
            <button id="start" type="submit" class="btn btn-default">Submit</button>
        </div>
        <div>
            <textarea  name="context" style="width: 500px; height: 300px; text-align:left">{{context}}
            </textarea >
            <textarea  name="result" style="width: 500px; height: 300px; text-align:left">{{res}}
            </textarea >
        </div>
    </form>
</body>
</html>